html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}

h1 {
    font-size: 7rem;
    color: white;
    margin-bottom: 20px;
    transform: skewX(-30deg) scaleY(1.5);
    display: flex; 
    padding: 0 50px;
}

button {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 20px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.384);
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: cyan;
    color: rgb(2, 54, 54);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.15), 0 0 20px rgba(0, 255, 255, 0.15), 0 0 40px rgba(0, 255, 255, 0.15), 0 0 80px rgba(0, 255, 255, 0.15), 0 0 160px rgba(0, 255, 255, 0.75);
}

h1 span {
  display: inline-block;
  animation: circle-sway 4s linear infinite;
  position: relative;
}

@keyframes circle-sway {
  0% {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}

h1 span:nth-child(1) { animation-delay: -0.0s; }
h1 span:nth-child(2) { animation-delay: -0.4s; }
h1 span:nth-child(3) { animation-delay: -0.8s; }
h1 span:nth-child(4) { animation-delay: -1.2s; }
h1 span:nth-child(5) { animation-delay: -1.6s; }
h1 span:nth-child(6) { animation-delay: -2.0s; }
h1 span:nth-child(7) { animation-delay: -2.4s; }
